@import "variables";
@import "mixin";

.commerce--recipe-teaser{
  position: relative;
  .field--name-title{
    margin-bottom: 0;
  }
  .field--name-variations{
    position: absolute;
    right: 0;
    padding: 5px 15px;
    font-size: 20px;
    background-color: $white;
    color: $blue;
    border: 1px solid $gray;
  }
  margin-bottom: $gutter;
}
.view-recipe{
  .view-content{
    .views-row{
      .commerce--recipe-teaser{
        margin-bottom: 25px;
      }
      max-width: 640px;
      margin: 0 auto;
      border-bottom: 1px solid $blue;
      margin-bottom: $gutter;
      &:last-child{
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
.commerce--recipe-full{
  img{
    max-width: 100%;
    height: auto;
  }
  & > .layout{
    margin-bottom: $gutterM;
  }
  .layout--twocol-section--50-50{
    .layout__region{
      &--first{
        padding-right: 15px;
      }
      &--second{
        padding-left: 15px;
      }
    }
  }
  .field--name-price{
    margin-top: $gutterM;
    .field__label{
      color: $blue;
      padding-top: 2px;
    }
    .field__item{
      font-size: 20px;
    }
  }
}
.views-view-table{
  thead{
    border-bottom: 2px solid $blue;
    th{
      padding: 10px 20px;
      color: $blue;
    }
  }
  tbody{
    td{
    }
  }
}
.view-commerce-cart-form{
  form{
    max-width: max-content;
    margin: 0 auto;
    text-align: center;
    .form-type-number{
      input{
        text-align: center;
        padding-right: 0;
      }
    }
    .form-actions{
      text-align: center;
    }
  }
  .views-field-purchased-entity{
    padding-right: $gutterS;
  }
  .views-field-total-price__number, .views-field-unit-price__number{
    text-align: center;
  }
  table{
    border-bottom: 2px solid $blue;
    margin-bottom: $gutterM;
    margin-top: $gutterS;
  }
}
.order-total-line{
  &-label{
    color: $blue;
  }
}
.layout-checkout-form{
  display: flex;
  flex-flow: row wrap;
  .layout-region{
    &-checkout-main{
      width: calc(100% - 330px);
      .address-line1{
        width: 100%;
      }
    }
    &-checkout-secondary{
      width: 300px;
      margin-left: $gutter;
      h3{
        margin-top: 15px;
        color: $blue;
      }
    }
    &-checkout-footer{
      width: 100%;
    }
  }
  .form-actions{
    a{
      margin-left: $gutter;
      color: $gray;
      text-decoration: none;
    }
  }
}
.commerce-checkout-flow{
  .field--type-address{
    .form-type-textfield{
      input{
        width: 100%;
      }
    }
  }
  .form-type-radio{
    label{
      text-transform: uppercase;
      font-size: 15px;
    }
  }
  .address-container-inline{
    display: flex;
    justify-content: space-between;
    input{
      width: 100%;
    }
    & > div{
      width: calc(50% - 15px);
      margin-right: 0;
    }
  }
}
.view-commerce-checkout-order-summary{
  .views-row{
    display: flex;
    justify-content: flex-end;
  }
  .views-field-total-price__number{
    margin-left: 10px;
    width: 100px;
  }
}
.commerce--season-ticket-full{
  &:before{
content: "";
    clear: both;
    display: table;
  }
  .field--name-field-image{
    float: left;
    width: calc(50% - 15px);
    margin-bottom: $gutter;
  }
  .field--name-variations{
    float: right;
    width: calc(50% - 15px);
    margin-bottom: $gutter;
  }
  .field--name-body{
clear: both;
    margin-bottom: $gutter;
  }
  .field--type-commerce-price{
    float: right;
    width: calc(50% - 15px);
    display: flex;
    text-align: center;
    .field__label{
      color: $blue;
      margin-right: $gutterM;
    }
    .field__item{
      font-size: 20px;
    }
  }
  form{
    select{
      width: 100%;
    }
    .form-actions{
      text-align: center;
    }
  }
}
.commerce--season-ticket-teaser{
  .field--name-price{
    display: none;
  }
}
.commerce--view-mode-teaser{
  .field--name-title{
    text-align: center;
    a{
      font-size: 20px;
      color: $blue;
      text-decoration: none;
    }
  }
}
.commerce--view-mode-short{
    @include clearfix;
  margin-bottom: $gutterM;
  & > *{
    &:not(.field-name-field-image){
      float: right;
      width: calc( 100% - (100px + #{$gutterM}));
    }
  }
  .field--name-field-image{
    float: left;
    font-size: 0;
    margin-right: $gutterM;
    width: 100px;
    img{
      border-radius: $gutterS;
      width: auto;
    }
  }
  .field--name-title{
    a{
      font-size: 16px;
      color: $black;
      text-decoration: none;
      margin-bottom: $gutterS;
    }
  }
  .field--name-variations{
    text-align: right;
    color: $blue;
    margin-top: $gutterS;
    & > *{
      &:not(:first-child){
        display: none;
      }
    }
  }
}
.cart-block{
  &--link__expand{
    display: block;
    background-color: $blue;
    color: $white;
    line-height: 1.6;
    padding: 0 20px;
    text-decoration: none;
  }
  &--summary__icon{
    margin-right: $gutterS;
    img{
      width: auto;
    }
  }
}
.commerce--clothes-full{
  img{
    max-width: none;
  }
  .layout--twocol-section--67-33{
    .layout__region{
      &--first{
        padding-right: $gutter / 2;
      }
      &--second{
        padding-left: $gutter / 2;
      }
    }
  }
  .field--name-field-images{
    margin-bottom: $gutter;
    display: grid;
    grid-gap: $gutterM;
    grid-template-columns: repeat(2, 1fr);
  }
  .field--name-title{
    color: $blue;
    font-size: 24px;
    margin-bottom: $gutterS;
  }
  .field--name-sku{
    margin-bottom: $gutterS;
  }
  .field--name-quantity{
    label{
      display: block;
      margin-bottom: $gutterS / 2;
    }
    input{
      width: 100%;
      border: 1px solid $blue;
    }
  }
  .field--name-field-color{
    line-height: 0;
  }
  .product--rendered-attribute__selected ~ label.option{
    border-color: $blue;
  }
  .field--name-purchased-entity{
    select{
      width: 100%;
    }
    label{
      margin-bottom: $gutterS  / 2;
    }
  }
  .field--name-price{
    display: flex;
    align-items: center;
    margin-bottom: $gutterM;
    .field__label{
      color: $blue;
      margin-right: $gutterM;
    }
    .field__item{
      font-size: 20px;
    }
  }
  .field--name-field-commerce-discount,
  .field--name-field-commerce-cover,
  .field--name-field-commerce-clothes,
  .field--name-field-commerce-for-who,
  .field--name-field-commerce-collection{
    display: flex;
    align-items: center;
    margin-bottom: $gutterS;
    .field__label{
      color: $blue;
      font-weight: normal;
      margin-right: $gutterS;
      position: relative;
      &:before{
        position: absolute;
        content: ":";
        right: -6px;
        top: calc(50% - 12px);
      }
    }
    .field__item{
      font-size: 14px;
      a{
        color: $black;
        text-decoration: none;
      }
    }
  }
}
.commerce--clothes-teaser{
  img{
    max-width: none;
  }
}
