@import "variables";
@import "mixin";

.block-facets-summary{
  & > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    a{
      color: $black;
      &:hover{
        color: $blue;
      }
    }
    .facets-summary-item--clear{
      a{
        border: 1px solid $blue;
        text-align: center;
        width: 100%;
        color: $blue;
        display: block;
        padding: 2px $gutterS;
        text-decoration: none;
      }
    }
  }
}
#views-exposed-form-index-product-page-1{
  .form--inline{
    display: flex;
    align-items: flex-end;
  }
  margin-bottom: $gutter;
}
.block-facets{
  .facets-widget-checkbox{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  li{
    margin-bottom: $gutterS/2;
    &:last-child{
      margin-bottom: 0;
    }
  }
    input{
      width: 15px;
      height: 15px;
      margin-right: $gutterS/2;
    }
    label{
      cursor: pointer;
      &:hover{
        color: $blue;
      }
    }
  }
  .facets-widget-range_slider{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    margin-bottom: $gutter;
  }
}

