@import "variables";
@import "mixin";


.main-content{
  display: flex;
  max-width: $desktopLarge;
  margin: 0 auto;
  padding: 0 60px;
  & > main{
    flex: 1;
  }
  aside{
    width: 350px;
    margin-left: $gutter;
  }
}
.grid-view-2-col{
  .view-content{
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: repeat(2, 1fr);
  }
}

