@import "variables";
@import "mixin";


.main-content{
  display: flex;
  max-width: $desktopLarge;
  margin: 0 auto;
  padding: 0 10px;
  & > main{
    flex: 1;
  }
  aside{
    max-width: 350px;
    margin-left: $gutter;
  }
}

