@import "variables";
@import "mixin";

.node{
  .field--name-field{
    margin-bottom: $gutterM;
  }
  .field--name-field-image{
    img{
      margin: 0 auto;
      display: block;
      margin-bottom: $gutterM;
    }
  }
  .field--name-title{
    margin-bottom: $gutterS;
    display: block;
    a{
      text-decoration: none;
      color: $gray;
    }
  }
  &--view-mode{
    &-short{
      .layout__region--content{
        display: flex;
        align-items: center;
        & > div{
          margin-right: $gutterS;
        }
        .field--name-field-image, .field--name-field-images{
          img{
            border-radius: 10px;
          }
        }
      }
    }
    &-teaser{
      img{
        border-radius: $gutterS;
      }
    }
  }
}
.view-recipe-term{
  .view-content{
    display: grid;
    grid-gap: $gutterM;
    grid-template-columns: repeat(2, 1fr);
  }
}
