@import "variables";
@import "mixin";
.node--article{
  .field--name-field{
    margin-bottom: $gutterM;
  }
  .field--name-field-images{
     img{
       margin: 0 auto;
       display: block;
       margin-bottom: $gutterM;
     }
  }
  .field--name-field-category .field__item, .field--name-field-tags{
    margin-bottom: $gutterM;
    display: flex;
    justify-content: center;
    a{
      margin: 0 10px;
      text-transform: uppercase;
      text-decoration: none;
      color: $gray;
      &:hover{
        color:$blue
      }
  }
  }
  //&-teaser{
  //  margin-bottom: $gutterS;
  //  .field--name-title{
  //    margin-bottom: $gutterS;
  //    display: block;
  //    a{
  //      text-decoration: none;
  //      color: $gray;
  //    }
  //  }
  //  .layout__region--content{
  //    @include clearfix;
  //    & > div{
  //      &:first-child{
  //        float: left;
  //        width: 200px;
  //        margin-right: $gutterM;
  //      }
  //      &:not(:first-child){
  //        float: right;
  //        width: calc( 100% - 200px - #{$gutterM});
  //      }
  //    }
  //  }
  //}
  &-teaser{

  }
}

