.commerce--recipe-teaser {
  position: relative;
  margin-bottom: 30px; }
  .commerce--recipe-teaser .field--name-title {
    margin-bottom: 0; }
  .commerce--recipe-teaser .field--name-variations {
    position: absolute;
    right: 0;
    padding: 5px 15px;
    font-size: 20px;
    background-color: #fff;
    color: #4c84be;
    border: 1px solid #828282; }

.view-recipe .view-content .views-row {
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #4c84be;
  margin-bottom: 30px; }
  .view-recipe .view-content .views-row .commerce--recipe-teaser {
    margin-bottom: 25px; }
  .view-recipe .view-content .views-row:last-child {
    border-bottom: 0;
    margin-bottom: 0; }

.commerce--recipe-full img {
  max-width: 100%;
  height: auto; }
.commerce--recipe-full > .layout {
  margin-bottom: 20px; }
.commerce--recipe-full .layout--twocol-section--50-50 .layout__region--first {
  padding-right: 15px; }
.commerce--recipe-full .layout--twocol-section--50-50 .layout__region--second {
  padding-left: 15px; }
.commerce--recipe-full .field--name-price {
  margin-top: 20px; }
  .commerce--recipe-full .field--name-price .field__label {
    color: #4c84be;
    padding-top: 2px; }
  .commerce--recipe-full .field--name-price .field__item {
    font-size: 20px; }

.views-view-table thead {
  border-bottom: 2px solid #4c84be; }
  .views-view-table thead th {
    padding: 10px 20px;
    color: #4c84be; }

.view-commerce-cart-form form {
  max-width: max-content;
  margin: 0 auto;
  text-align: center; }
  .view-commerce-cart-form form .form-type-number input {
    text-align: center;
    padding-right: 0; }
  .view-commerce-cart-form form .form-actions {
    text-align: center; }
.view-commerce-cart-form .views-field-purchased-entity {
  padding-right: 10px; }
.view-commerce-cart-form .views-field-total-price__number, .view-commerce-cart-form .views-field-unit-price__number {
  text-align: center; }
.view-commerce-cart-form table {
  border-bottom: 2px solid #4c84be;
  margin-bottom: 20px;
  margin-top: 10px; }

.order-total-line-label {
  color: #4c84be; }

.layout-checkout-form {
  display: flex;
  flex-flow: row wrap; }
  .layout-checkout-form .layout-region-checkout-main {
    width: calc(100% - 330px); }
    .layout-checkout-form .layout-region-checkout-main .address-line1 {
      width: 100%; }
  .layout-checkout-form .layout-region-checkout-secondary {
    width: 300px;
    margin-left: 30px; }
    .layout-checkout-form .layout-region-checkout-secondary h3 {
      margin-top: 15px;
      color: #4c84be; }
  .layout-checkout-form .layout-region-checkout-footer {
    width: 100%; }
  .layout-checkout-form .form-actions a {
    margin-left: 30px;
    color: #828282;
    text-decoration: none; }

.commerce-checkout-flow .field--type-address .form-type-textfield input {
  width: 100%; }
.commerce-checkout-flow .form-type-radio label {
  text-transform: uppercase;
  font-size: 15px; }
.commerce-checkout-flow .address-container-inline {
  display: flex;
  justify-content: space-between; }
  .commerce-checkout-flow .address-container-inline input {
    width: 100%; }
  .commerce-checkout-flow .address-container-inline > div {
    width: calc(50% - 15px);
    margin-right: 0; }

.view-commerce-checkout-order-summary .views-row {
  display: flex;
  justify-content: flex-end; }
.view-commerce-checkout-order-summary .views-field-total-price__number {
  margin-left: 10px;
  width: 100px; }

.commerce--season-ticket-full:before {
  content: "";
  clear: both;
  display: table; }
.commerce--season-ticket-full .field--name-field-image {
  float: left;
  width: calc(50% - 15px);
  margin-bottom: 30px; }
.commerce--season-ticket-full .field--name-variations {
  float: right;
  width: calc(50% - 15px);
  margin-bottom: 30px; }
.commerce--season-ticket-full .field--name-body {
  clear: both;
  margin-bottom: 30px; }
.commerce--season-ticket-full .field--type-commerce-price {
  float: right;
  width: calc(50% - 15px);
  display: flex;
  text-align: center; }
  .commerce--season-ticket-full .field--type-commerce-price .field__label {
    color: #4c84be;
    margin-right: 20px; }
  .commerce--season-ticket-full .field--type-commerce-price .field__item {
    font-size: 20px; }
.commerce--season-ticket-full form select {
  width: 100%; }
.commerce--season-ticket-full form .form-actions {
  text-align: center; }

.commerce--season-ticket-teaser .field--name-price {
  display: none; }

.commerce--view-mode-teaser .field--name-title {
  text-align: center; }
  .commerce--view-mode-teaser .field--name-title a {
    font-size: 20px;
    color: #4c84be;
    text-decoration: none; }

.commerce--view-mode-short {
  margin-bottom: 20px; }
  .commerce--view-mode-short:after {
    clear: both;
    content: "";
    display: table; }
  .commerce--view-mode-short > *:not(.field-name-field-image) {
    float: right;
    width: calc( 100% - (100px + 20px)); }
  .commerce--view-mode-short .field--name-field-image {
    float: left;
    font-size: 0;
    margin-right: 20px;
    width: 100px; }
    .commerce--view-mode-short .field--name-field-image img {
      border-radius: 10px;
      width: auto; }
  .commerce--view-mode-short .field--name-title a {
    font-size: 16px;
    color: #373737;
    text-decoration: none;
    margin-bottom: 10px; }
  .commerce--view-mode-short .field--name-variations {
    text-align: right;
    color: #4c84be;
    margin-top: 10px; }
    .commerce--view-mode-short .field--name-variations > *:not(:first-child) {
      display: none; }

.cart-block--link__expand {
  display: block;
  background-color: #4c84be;
  color: #fff;
  line-height: 1.6;
  padding: 0 20px;
  text-decoration: none; }
.cart-block--summary__icon {
  margin-right: 10px; }
  .cart-block--summary__icon img {
    width: auto; }

.commerce--clothes-full img {
  max-width: none; }
.commerce--clothes-full .layout--twocol-section--67-33 .layout__region--first {
  padding-right: 15px; }
.commerce--clothes-full .layout--twocol-section--67-33 .layout__region--second {
  padding-left: 15px; }
.commerce--clothes-full .field--name-field-images {
  margin-bottom: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr); }
.commerce--clothes-full .field--name-title {
  color: #4c84be;
  font-size: 24px;
  margin-bottom: 10px; }
.commerce--clothes-full .field--name-sku {
  margin-bottom: 10px; }
.commerce--clothes-full .field--name-quantity label {
  display: block;
  margin-bottom: 5px; }
.commerce--clothes-full .field--name-quantity input {
  width: 100%;
  border: 1px solid #4c84be; }
.commerce--clothes-full .field--name-field-color {
  line-height: 0; }
.commerce--clothes-full .product--rendered-attribute__selected ~ label.option {
  border-color: #4c84be; }
.commerce--clothes-full .field--name-purchased-entity select {
  width: 100%; }
.commerce--clothes-full .field--name-purchased-entity label {
  margin-bottom: 5px; }
.commerce--clothes-full .field--name-price {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .commerce--clothes-full .field--name-price .field__label {
    color: #4c84be;
    margin-right: 20px; }
  .commerce--clothes-full .field--name-price .field__item {
    font-size: 20px; }
.commerce--clothes-full .field--name-field-commerce-discount,
.commerce--clothes-full .field--name-field-commerce-cover,
.commerce--clothes-full .field--name-field-commerce-clothes,
.commerce--clothes-full .field--name-field-commerce-for-who,
.commerce--clothes-full .field--name-field-commerce-collection {
  display: flex;
  align-items: center;
  margin-bottom: 10px; }
  .commerce--clothes-full .field--name-field-commerce-discount .field__label,
  .commerce--clothes-full .field--name-field-commerce-cover .field__label,
  .commerce--clothes-full .field--name-field-commerce-clothes .field__label,
  .commerce--clothes-full .field--name-field-commerce-for-who .field__label,
  .commerce--clothes-full .field--name-field-commerce-collection .field__label {
    color: #4c84be;
    font-weight: normal;
    margin-right: 10px;
    position: relative; }
    .commerce--clothes-full .field--name-field-commerce-discount .field__label:before,
    .commerce--clothes-full .field--name-field-commerce-cover .field__label:before,
    .commerce--clothes-full .field--name-field-commerce-clothes .field__label:before,
    .commerce--clothes-full .field--name-field-commerce-for-who .field__label:before,
    .commerce--clothes-full .field--name-field-commerce-collection .field__label:before {
      position: absolute;
      content: ":";
      right: -6px;
      top: calc(50% - 12px); }
  .commerce--clothes-full .field--name-field-commerce-discount .field__item,
  .commerce--clothes-full .field--name-field-commerce-cover .field__item,
  .commerce--clothes-full .field--name-field-commerce-clothes .field__item,
  .commerce--clothes-full .field--name-field-commerce-for-who .field__item,
  .commerce--clothes-full .field--name-field-commerce-collection .field__item {
    font-size: 14px; }
    .commerce--clothes-full .field--name-field-commerce-discount .field__item a,
    .commerce--clothes-full .field--name-field-commerce-cover .field__item a,
    .commerce--clothes-full .field--name-field-commerce-clothes .field__item a,
    .commerce--clothes-full .field--name-field-commerce-for-who .field__item a,
    .commerce--clothes-full .field--name-field-commerce-collection .field__item a {
      color: #373737;
      text-decoration: none; }

.commerce--clothes-teaser img {
  max-width: none; }

/*# sourceMappingURL=commerce.css.map */
